#file-root {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 20%;
  background: #f5f5f5;
  z-index: 2;
  width: 80%;
  overflow-x: hidden;
}

#file-container {
  top: 0;
  left: 20vw;
  overflow-x: hidden;
  padding: 3em;
  color: black;
  z-index: 400;
  height: 90vh;
}

.file-header {
  color: #35B0E4;
  font-weight: 800;
}

.top-action,.file-section {
  padding: 2em;
  background-color: white;
  border: 1px solid;
  border-radius: 2px;
}
.top-action {
  margin: 3em 0;
}
.top-action > h2 {
  color: black;
}

.content-list {
  padding: 0;
  width: 100%;
}

.name,.type,.dateModified,.size {
  margin: auto;
}

.name {

}

.type {

}

.dateModified {

}

.size {
  
}