.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  width: 100%;
}

.sidebar-section {
  height: 100vh;
  position: fixed;
  width: 20vw;
}
.sidebar-placeholder {
  min-width: 20%;
}
.sidebar-layout {
  display: grid;
  grid-template-columns: 20vw auto;
  position: relative;
  height: 100%;
}
.main-section {
  justify-self: stretch;
}

.root-header {
  cursor: pointer;
}

.not-found {
  width: 100%;
  margin-top: 5em;
}
.not-found > h1 {
  text-align: center;
  font-size: 36px;
}
.action-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.left-action {
  justify-self: flex-start;
}
.right-action {
  justify-self: flex-end;
}
#search-bar {
  margin-left: auto;
}

.table-data.name {
  cursor: pointer;
}


