.support-wrapper {
  width: 100%;
  margin-bottom: 3em;
  cursor: pointer;
}
.support-wrapper > svg {
  margin: 0 .75em;
  transition: transform .3s;
}
.support-text {
  display: inline-block;
  height: 1.5em;
  line-height: 1.5em;
  color: white;
  text-decoration: none;
  transition: transform .3s;
  font-size: 1.1em;
}
.support-wrapper:hover > svg {
  transform: scale(1.0.5);
}
.support-wrapper:hover > span {
  font-weight: 700;
}