.sidebar-container {
  /* background: #2E507A; */
  height: 100%;
  background: rgb(46,80,122);
  background: linear-gradient(180deg, rgba(46,80,122,1) 48%, rgba(6,25,47,1) 100%);
}

.sidebar-header {
  margin-bottom: 3em;
}

svg {
  display: inline-block;
  margin: 0 .75em;
}
h2 {
  display: inline-block;
  font-size: .97em;
  color: #fff;
  letter-spacing: 4px;
  font-weight: 500;
}
ol {
  list-style-type: none;
}
a {
  color: white;
  text-decoration: none;
}
.svg {
  fill: #35B0E4;
}
.user-logo-wrapper {
  margin: .75em;
}

