.sidebar-container {
  /* background: #2E507A; */
  height: 100%;
  background: rgb(46,80,122);
  background: linear-gradient(180deg, rgba(46,80,122,1) 48%, rgba(6,25,47,1) 100%);
}

.sidebar-header {
  
}

svg {
  display: inline-block;
  vertical-align: middle;
}
h2 {
  display: inline-block;
}
