body {
  position: relative;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
}

.primary-color {
  color: #35B0E4;
}

.secondary-color {
  color: #8CD5DF;
}